In [72]:
import pandas as pd
import numpy as np

In [100]:
df = pd.read_csv("collected research people.csv")

In [74]:
df.head()

,Unnamed: 0,Nome,Endereerço,Cidade,Estado,phone,anual_income,Estado Civil,AAge,n_filhos,Moradia,Food_restrictions,streaming,diariamente_sun blocker,Vai na Praia Mensalmente,Faz Academia,Compra e Lê Livros Todos os Anos,Quantidade de Livros Comprados,Autor Favorito,email
0,0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,NaN,43.0,NaN,Quitada,Nenhuma,Globo Play,Sim,Não,Sim,NaN,NaN,NaN,mariaclaranovaes285@gemeil.com
1,1,Davi Lucca Pereira>,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,De favor,NaN,Todos,NaN,Não,Sim,Não,NaN,NaN,daviluccapereira933@exemplo.com
2,2,Sr. Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,S,60.0,NaN,Financiamento,Lactose e Glúten,NaN,Sim,Não,NaN,Sim,6.0,NaN,srcaiocaldeira626@gemeil.com
3,3,Kaique Azevedo%,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,Quitada,Lactose e Glúten,NaN,Não,Não,Não,Sim,0.0,Enzo Rezende,kaiqueazevedo731@rotmail.com
4,4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,-0.'8--%/],53295.0,Casado,60.0,5.0,Financiamento,NaN,Globo Play,Sim,Sim,NaN,Sim,7.0,NaN,pedromoreira622@gemeil.com

In [75]:
df = df.drop(columns=['Unnamed: 0'])
df.head()

,Nome,Endereerço,Cidade,Estado,phone,anual_income,Estado Civil,AAge,n_filhos,Moradia,Food_restrictions,streaming,diariamente_sun blocker,Vai na Praia Mensalmente,Faz Academia,Compra e Lê Livros Todos os Anos,Quantidade de Livros Comprados,Autor Favorito,email
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,NaN,43.0,NaN,Quitada,Nenhuma,Globo Play,Sim,Não,Sim,NaN,NaN,NaN,mariaclaranovaes285@gemeil.com
1,Davi Lucca Pereira>,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,De favor,NaN,Todos,NaN,Não,Sim,Não,NaN,NaN,daviluccapereira933@exemplo.com
2,Sr. Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,S,60.0,NaN,Financiamento,Lactose e Glúten,NaN,Sim,Não,NaN,Sim,6.0,NaN,srcaiocaldeira626@gemeil.com
3,Kaique Azevedo%,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,Quitada,Lactose e Glúten,NaN,Não,Não,Não,Sim,0.0,Enzo Rezende,kaiqueazevedo731@rotmail.com
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,-0.'8--%/],53295.0,Casado,60.0,5.0,Financiamento,NaN,Globo Play,Sim,Sim,NaN,Sim,7.0,NaN,pedromoreira622@gemeil.com

In [101]:
novas_cols = {'Endereerço': 'Endereço',
              'phone': 'Telefone',
              'anual_income': 'Renda Anual',
              'AAge': 'Idade',
              'n_filhos': 'N Filhos',
              'diariamente_sun blocker': 'Usa protetor solar diariamente',
              'Food_restrictions': 'Restrição alimentar',
              'streaming': 'Streaming'
              }


df.rename(columns=novas_cols, inplace=True)
df.head()

,Unnamed: 0,Nome,Endereço,Cidade,Estado,Telefone,Renda Anual,Estado Civil,Idade,N Filhos,Moradia,Restrição alimentar,Streaming,Usa protetor solar diariamente,Vai na Praia Mensalmente,Faz Academia,Compra e Lê Livros Todos os Anos,Quantidade de Livros Comprados,Autor Favorito,email
0,0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,NaN,43.0,NaN,Quitada,Nenhuma,Globo Play,Sim,Não,Sim,NaN,NaN,NaN,mariaclaranovaes285@gemeil.com
1,1,Davi Lucca Pereira>,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,De favor,NaN,Todos,NaN,Não,Sim,Não,NaN,NaN,daviluccapereira933@exemplo.com
2,2,Sr. Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,S,60.0,NaN,Financiamento,Lactose e Glúten,NaN,Sim,Não,NaN,Sim,6.0,NaN,srcaiocaldeira626@gemeil.com
3,3,Kaique Azevedo%,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,Quitada,Lactose e Glúten,NaN,Não,Não,Não,Sim,0.0,Enzo Rezende,kaiqueazevedo731@rotmail.com
4,4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,-0.'8--%/],53295.0,Casado,60.0,5.0,Financiamento,NaN,Globo Play,Sim,Sim,NaN,Sim,7.0,NaN,pedromoreira622@gemeil.com

O **\W** equivale a [^a-zA-Zà-úÀ-Ú0-9_].

In [77]:
df.Nome=df.Nome.str.replace('[^a-zA-Zà-úÀ-Ú0-9 ]', '')
df.head()

,Nome,Endereço,Cidade,Estado,Telefone,Renda Anual,Estado Civil,Idade,N Filhos,Moradia,Restrição alimentar,Streaming,Usa protetor solar diariamente,Vai na Praia Mensalmente,Faz Academia,Compra e Lê Livros Todos os Anos,Quantidade de Livros Comprados,Autor Favorito,email
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,NaN,43.0,NaN,Quitada,Nenhuma,Globo Play,Sim,Não,Sim,NaN,NaN,NaN,mariaclaranovaes285@gemeil.com
1,Davi Lucca Pereira>,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,De favor,NaN,Todos,NaN,Não,Sim,Não,NaN,NaN,daviluccapereira933@exemplo.com
2,Sr. Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,S,60.0,NaN,Financiamento,Lactose e Glúten,NaN,Sim,Não,NaN,Sim,6.0,NaN,srcaiocaldeira626@gemeil.com
3,Kaique Azevedo%,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,Quitada,Lactose e Glúten,NaN,Não,Não,Não,Sim,0.0,Enzo Rezende,kaiqueazevedo731@rotmail.com
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,-0.'8--%/],53295.0,Casado,60.0,5.0,Financiamento,NaN,Globo Play,Sim,Sim,NaN,Sim,7.0,NaN,pedromoreira622@gemeil.com

In [78]:
df.Telefone=df.Telefone.str.replace('[^0-9() +-]', '*')

In [79]:
import numpy as np

In [80]:
df.Telefone.str.contains('[*]',na=False)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
Name: Telefone, dtype: bool

In [81]:
df.loc[df.Telefone.str.contains('[*]',na=False), 'Telefone'] =  np.nan

In [102]:
df['Estado Civil']

0            NaN
1            NaN
2              S
3         Casado
4         Casado
5       Solteiro
6              D
7            NaN
8     Divorciado
9     Divorciado
10           NaN
11    Divorciado
12             C
13      Solteiro
14           NaN
15      Solteiro
16           NaN
17      Solteiro
18             V
19             S
20             D
21         Viúvo
22         Viúvo
23           NaN
24             V
25      Solteiro
26         Viúvo
27    Divorciado
28        Casado
29           NaN
30           NaN
31    Divorciado
32           NaN
33           NaN
34    Divorciado
35             D
36           NaN
Name: Estado Civil, dtype: object

In [103]:
df['Estado Civil']=df['Estado Civil'].replace({
                            'S': 'Solteiro',
                            'C': 'Casado',
                            'D': 'Divorciado',
                            'V': 'Viúvo'
})

In [84]:
df.head()

,Nome,Endereço,Cidade,Estado,Telefone,Renda Anual,Estado Civil,Idade,N Filhos,Moradia,Restrição alimentar,Streaming,Usa protetor solar diariamente,Vai na Praia Mensalmente,Faz Academia,Compra e Lê Livros Todos os Anos,Quantidade de Livros Comprados,Autor Favorito,email
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,NaN,43.0,NaN,Quitada,Nenhuma,Globo Play,Sim,Não,Sim,NaN,NaN,NaN,mariaclaranovaes285@gemeil.com
1,Davi Lucca Pereira>,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,De favor,NaN,Todos,NaN,Não,Sim,Não,NaN,NaN,daviluccapereira933@exemplo.com
2,Sr. Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,Solteiro,60.0,NaN,Financiamento,Lactose e Glúten,NaN,Sim,Não,NaN,Sim,6.0,NaN,srcaiocaldeira626@gemeil.com
3,Kaique Azevedo%,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,Quitada,Lactose e Glúten,NaN,Não,Não,Não,Sim,0.0,Enzo Rezende,kaiqueazevedo731@rotmail.com
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,-0.'8--%/],53295.0,Casado,60.0,5.0,Financiamento,NaN,Globo Play,Sim,Sim,NaN,Sim,7.0,NaN,pedromoreira622@gemeil.com

In [85]:
# Remover caracteres especiais, mantendo letras, números e espaços
df['Nome'] = df['Nome'].str.replace('[^a-zA-Zà-úÀ-Ú0-9 ]', '', regex=True)

In [30]:
df.head()

,Unnamed: 0,Nome,Endereço,Cidade,Estado,Telefone,Renda Anual,Estado Civil,Idade,N Filhos,Moradia,Restrição alimentar,Streaming,Usa protetor solar diariamente,Vai na Praia Mensalmente,Faz Academia,Compra e Lê Livros Todos os Anos,Quantidade de Livros Comprados,Autor Favorito,email
0,0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,NaN,43.0,NaN,Quitada,Nenhuma,Globo Play,Sim,Não,Sim,NaN,NaN,NaN,mariaclaranovaes285@gemeil.com
1,1,Davi Lucca Pereira,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,De favor,NaN,Todos,NaN,Não,Sim,Não,NaN,NaN,daviluccapereira933@exemplo.com
2,2,Sr Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,S,60.0,NaN,Financiamento,Lactose e Glúten,NaN,Sim,Não,NaN,Sim,6.0,NaN,srcaiocaldeira626@gemeil.com
3,3,Kaique Azevedo,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,Quitada,Lactose e Glúten,NaN,Não,Não,Não,Sim,0.0,Enzo Rezende,kaiqueazevedo731@rotmail.com
4,4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,-0.'8--%/],53295.0,Casado,60.0,5.0,Financiamento,NaN,Globo Play,Sim,Sim,NaN,Sim,7.0,NaN,pedromoreira622@gemeil.com

Cenário 1:

A empresa Carri Construtora contratou a empresa que você trabalha para encontrar possíveis compradores para o seus novos empreendimentos.

A empresa quer entender as necessidades dos clientes, e quer informações com:

*   Quais cliente devemos abordar;
*   Qual empreendimento nós devemos mostrá-los;
*   Esse cliente está em busca em investir em um imóvel ou comprar para moradia?


 Se renda anual > 104 = pode participar do Minha casa minha vida

In [86]:
df.head()

,Nome,Endereço,Cidade,Estado,Telefone,Renda Anual,Estado Civil,Idade,N Filhos,Moradia,Restrição alimentar,Streaming,Usa protetor solar diariamente,Vai na Praia Mensalmente,Faz Academia,Compra e Lê Livros Todos os Anos,Quantidade de Livros Comprados,Autor Favorito,email
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,NaN,43.0,NaN,Quitada,Nenhuma,Globo Play,Sim,Não,Sim,NaN,NaN,NaN,mariaclaranovaes285@gemeil.com
1,Davi Lucca Pereira,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,De favor,NaN,Todos,NaN,Não,Sim,Não,NaN,NaN,daviluccapereira933@exemplo.com
2,Sr Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,Solteiro,60.0,NaN,Financiamento,Lactose e Glúten,NaN,Sim,Não,NaN,Sim,6.0,NaN,srcaiocaldeira626@gemeil.com
3,Kaique Azevedo,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,Quitada,Lactose e Glúten,NaN,Não,Não,Não,Sim,0.0,Enzo Rezende,kaiqueazevedo731@rotmail.com
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,-0.'8--%/],53295.0,Casado,60.0,5.0,Financiamento,NaN,Globo Play,Sim,Sim,NaN,Sim,7.0,NaN,pedromoreira622@gemeil.com

In [87]:
df.columns

Index(['Nome', 'Endereço', 'Cidade', 'Estado', 'Telefone', 'Renda Anual',
       'Estado Civil', 'Idade', 'N Filhos', 'Moradia', 'Restrição alimentar',
       'Streaming', 'Usa protetor solar diariamente',
       'Vai na Praia Mensalmente', 'Faz Academia',
       'Compra e Lê Livros Todos os Anos', 'Quantidade de Livros Comprados',
       'Autor Favorito', 'email'],
      dtype='object')

In [88]:
df_carri = df.copy()

In [89]:
drop_carri = ['Restrição alimentar','Streaming', 'Usa protetor solar diariamente','Quantidade de Livros Comprados',
       'Autor Favorito']

df_carri.drop(columns=drop_carri,inplace=True)

In [90]:
df_carri['Minha casa minha vida'] = True

In [91]:
df_carri.head()

,Nome,Endereço,Cidade,Estado,Telefone,Renda Anual,Estado Civil,Idade,N Filhos,Moradia,Vai na Praia Mensalmente,Faz Academia,Compra e Lê Livros Todos os Anos,email,Minha casa minha vida
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,NaN,43.0,NaN,Quitada,Não,Sim,NaN,mariaclaranovaes285@gemeil.com,True
1,Davi Lucca Pereira,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,De favor,Não,Sim,Não,daviluccapereira933@exemplo.com,True
2,Sr Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,Solteiro,60.0,NaN,Financiamento,Não,NaN,Sim,srcaiocaldeira626@gemeil.com,True
3,Kaique Azevedo,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,Quitada,Não,Não,Sim,kaiqueazevedo731@rotmail.com,True
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,-0.'8--%/],53295.0,Casado,60.0,5.0,Financiamento,Sim,NaN,Sim,pedromoreira622@gemeil.com,True

In [92]:
np.where((df_carri.Moradia == "Quitado") | (df_carri.Moradia == "Financiamento"),True,False)

array([False, False,  True, False,  True, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False,  True, False, False, False, False,
       False, False,  True, False, False, False, False, False, False,
        True])

In [93]:
df_carri['Investimento']= np.where((df_carri.Moradia == "Quitado") | (df_carri.Moradia == "Financiamento"),True,False)

In [94]:
df_carri.head()

,Nome,Endereço,Cidade,Estado,Telefone,Renda Anual,Estado Civil,Idade,N Filhos,Moradia,Vai na Praia Mensalmente,Faz Academia,Compra e Lê Livros Todos os Anos,email,Minha casa minha vida,Investimento
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,NaN,43.0,NaN,Quitada,Não,Sim,NaN,mariaclaranovaes285@gemeil.com,True,False
1,Davi Lucca Pereira,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,De favor,Não,Sim,Não,daviluccapereira933@exemplo.com,True,False
2,Sr Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,Solteiro,60.0,NaN,Financiamento,Não,NaN,Sim,srcaiocaldeira626@gemeil.com,True,True
3,Kaique Azevedo,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,Quitada,Não,Não,Sim,kaiqueazevedo731@rotmail.com,True,False
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,-0.'8--%/],53295.0,Casado,60.0,5.0,Financiamento,Sim,NaN,Sim,pedromoreira622@gemeil.com,True,True

Cenário 2: Uma empresa chamada Hillo, é uma empresa que está estudando o mercado e quer encontrar uma parceria com uma empresa de Streeming (netflix, Disney plus etc), mas gostaria de saber quais as empresas dariam o maior retorno de investimento.
Eles podem fazer análise de machine learning também com esses dados.

In [95]:
df.head()

,Nome,Endereço,Cidade,Estado,Telefone,Renda Anual,Estado Civil,Idade,N Filhos,Moradia,Restrição alimentar,Streaming,Usa protetor solar diariamente,Vai na Praia Mensalmente,Faz Academia,Compra e Lê Livros Todos os Anos,Quantidade de Livros Comprados,Autor Favorito,email
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,NaN,43.0,NaN,Quitada,Nenhuma,Globo Play,Sim,Não,Sim,NaN,NaN,NaN,mariaclaranovaes285@gemeil.com
1,Davi Lucca Pereira,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,De favor,NaN,Todos,NaN,Não,Sim,Não,NaN,NaN,daviluccapereira933@exemplo.com
2,Sr Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,Solteiro,60.0,NaN,Financiamento,Lactose e Glúten,NaN,Sim,Não,NaN,Sim,6.0,NaN,srcaiocaldeira626@gemeil.com
3,Kaique Azevedo,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,Quitada,Lactose e Glúten,NaN,Não,Não,Não,Sim,0.0,Enzo Rezende,kaiqueazevedo731@rotmail.com
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,-0.'8--%/],53295.0,Casado,60.0,5.0,Financiamento,NaN,Globo Play,Sim,Sim,NaN,Sim,7.0,NaN,pedromoreira622@gemeil.com

In [109]:
df_hillo = df.copy()
df_hillo = df_hillo.drop(columns=['Moradia',
       'Restrição alimentar',  'Usa protetor solar diariamente',
       'Vai na Praia Mensalmente', 'Faz Academia',
       'Compra e Lê Livros Todos os Anos', 'Quantidade de Livros Comprados',
       'Autor Favorito'])

In [110]:
df_hillo.head()

,Unnamed: 0,Nome,Endereço,Cidade,Estado,Telefone,Renda Anual,Estado Civil,Idade,N Filhos,Streaming,email
0,0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,NaN,43.0,NaN,Globo Play,mariaclaranovaes285@gemeil.com
1,1,Davi Lucca Pereira>,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,Todos,daviluccapereira933@exemplo.com
2,2,Sr. Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,Solteiro,60.0,NaN,NaN,srcaiocaldeira626@gemeil.com
3,3,Kaique Azevedo%,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,NaN,kaiqueazevedo731@rotmail.com
4,4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,-0.'8--%/],53295.0,Casado,60.0,5.0,Globo Play,pedromoreira622@gemeil.com

In [106]:
df_hillo['Estado Civil'].str.get_dummies()

    Casado  Divorciado  Solteiro  Viúvo
0        0           0         0      0
1        0           0         0      0
2        0           0         1      0
3        1           0         0      0
4        1           0         0      0
5        0           0         1      0
6        0           1         0      0
7        0           0         0      0
8        0           1         0      0
9        0           1         0      0
10       0           0         0      0
11       0           1         0      0
12       1           0         0      0
13       0           0         1      0
14       0           0         0      0
15       0           0         1      0
16       0           0         0      0
17       0           0         1      0
18       0           0         0      1
19       0           0         1      0
20       0           1         0      0
21       0           0         0      1
22       0           0         0      1
23       0           0         0      0
24       0           0         0      1
25       0           0         1      0
26       0           0         0      1
27       0           1         0      0
28       1           0         0      0
29       0           0         0      0
30       0           0         0      0
31       0           1         0      0
32       0           0         0      0
33       0           0         0      0
34       0           1         0      0
35       0           1         0      0
36       0           0         0      0

In [113]:
df_hillo['Streaming'].str.get_dummies(sep=' e ')

    Crunchyroll  Disney Plus  Globo Play  HBO  Nenhum  Netflix  Todos
0             0            0           1    0       0        0      0
1             0            0           0    0       0        0      1
2             0            0           0    0       0        0      0
3             0            0           0    0       0        0      0
4             0            0           1    0       0        0      0
5             0            0           0    1       0        1      0
6             0            0           0    0       0        0      0
7             0            0           0    0       0        0      0
8             1            0           0    0       0        0      0
9             0            0           0    0       1        0      0
10            0            0           0    1       0        0      0
11            0            0           0    0       1        0      0
12            0            1           0    0       0        0      0
13            0            0           0    0       0        0      1
14            0            0           0    0       0        0      0
15            0            1           0    0       0        1      0
16            0            0           0    0       0        0      0
17            0            0           0    0       0        0      0
18            0            0           0    0       0        0      0
19            0            0           1    0       0        0      0
20            0            0           0    0       0        0      0
21            0            0           0    0       1        0      0
22            0            0           0    0       0        0      0
23            0            0           0    0       1        0      0
24            0            1           0    0       0        0      0
25            0            0           0    0       0        0      0
26            0            0           0    0       0        0      0
27            0            0           0    0       0        0      0
28            0            0           0    0       0        1      0
29            0            0           0    0       0        0      1
30            0            0           1    0       0        0      0
31            0            0           0    1       0        0      0
32            0            0           0    1       0        0      0
33            0            0           0    0       0        0      0
34            0            0           0    0       0        0      0
35            0            0           1    0       0        0      0
36            1            0           0    0       0        0      0

In [112]:
df_hillo.Streaming=df_hillo.Streaming.replace({"Netflix e Disney": "Netflix e Disney Plus"})

In [114]:
df_hillo_strem=df_hillo['Streaming'].str.get_dummies(sep=' e ')

In [115]:
df_hillo=pd.concat([df_hillo, df_hillo_strem],axis=1)

In [116]:
df_hillo.head()

,Unnamed: 0,Nome,Endereço,Cidade,Estado,Telefone,Renda Anual,Estado Civil,Idade,N Filhos,Streaming,email,Crunchyroll,Disney Plus,Globo Play,HBO,Nenhum,Netflix,Todos
0,0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,NaN,43.0,NaN,Globo Play,mariaclaranovaes285@gemeil.com,0,0,1,0,0,0,0
1,1,Davi Lucca Pereira>,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,Todos,daviluccapereira933@exemplo.com,0,0,0,0,0,0,1
2,2,Sr. Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,Solteiro,60.0,NaN,NaN,srcaiocaldeira626@gemeil.com,0,0,0,0,0,0,0
3,3,Kaique Azevedo%,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,NaN,kaiqueazevedo731@rotmail.com,0,0,0,0,0,0,0
4,4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,-0.'8--%/],53295.0,Casado,60.0,5.0,Globo Play,pedromoreira622@gemeil.com,0,0,1,0,0,0,0

Cenário 3: Uma influenciadora digital de bem estar gostaria de analisar possíveis empreendimentos dentro de diferentes propostas que recebe. Essas propostas podem ser excludentes ou somatórias.

In [117]:
df.columns

Index(['Unnamed: 0', 'Nome', 'Endereço', 'Cidade', 'Estado', 'Telefone',
       'Renda Anual', 'Estado Civil', 'Idade', 'N Filhos', 'Moradia',
       'Restrição alimentar', 'Streaming', 'Usa protetor solar diariamente',
       'Vai na Praia Mensalmente', 'Faz Academia',
       'Compra e Lê Livros Todos os Anos', 'Quantidade de Livros Comprados',
       'Autor Favorito', 'email'],
      dtype='object')

In [125]:
df_inf = df.copy()

In [126]:
df_inf['Restrição alimentar'].str.get_dummies(sep=' e ').drop(columns=["Nenhuma"])

    Glúten  Lactose
0        0        0
1        0        0
2        1        1
3        1        1
4        0        0
5        0        0
6        0        1
7        0        0
8        0        0
9        0        1
10       0        0
11       0        1
12       1        0
13       0        0
14       1        0
15       0        0
16       1        1
17       1        1
18       1        1
19       0        0
20       0        0
21       0        0
22       0        0
23       0        0
24       0        0
25       0        0
26       1        0
27       1        0
28       0        0
29       0        0
30       1        1
31       0        1
32       1        1
33       0        0
34       0        0
35       0        0
36       0        0

In [128]:
restricao=df_inf['Restrição alimentar'].str.get_dummies(sep=' e ').drop(columns=["Nenhuma"])

In [130]:
df_inf = pd.concat([df_inf,restricao],axis=1)
df_inf.head()

,Unnamed: 0,Nome,Endereço,Cidade,Estado,Telefone,Renda Anual,Estado Civil,Idade,N Filhos,...,Vai na Praia Mensalmente,Faz Academia,Compra e Lê Livros Todos os Anos,Quantidade de Livros Comprados,Autor Favorito,email,Glúten,Lactose,Glúten,Lactose
0,0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,NaN,43.0,NaN,...,Não,Sim,NaN,NaN,NaN,mariaclaranovaes285@gemeil.com,0,0,0,0
1,1,Davi Lucca Pereira>,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,...,Não,Sim,Não,NaN,NaN,daviluccapereira933@exemplo.com,0,0,0,0
2,2,Sr. Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,Solteiro,60.0,NaN,...,Não,NaN,Sim,6.0,NaN,srcaiocaldeira626@gemeil.com,1,1,1,1
3,3,Kaique Azevedo%,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,...,Não,Não,Sim,0.0,Enzo Rezende,kaiqueazevedo731@rotmail.com,1,1,1,1
4,4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,-0.'8--%/],53295.0,Casado,60.0,5.0,...,Sim,NaN,Sim,7.0,NaN,pedromoreira622@gemeil.com,0,0,0,0

In [132]:
df_inf['Idoso'] = np.where(df_inf.Idade>=60,True,False)

In [133]:
df_inf['Idoso']

0     False
1     False
2      True
3     False
4      True
5     False
6     False
7     False
8      True
9     False
10     True
11     True
12    False
13    False
14    False
15     True
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33     True
34    False
35     True
36     True
Name: Idoso, dtype: bool